@model IEnumerable<EveShopping.Modelo.EntidadesAux.FittingAnalyzed>

@foreach (var item in this.Model)
{
 
    <h3 data-esh-name="@item.Name" class="clearfix accordion-header">
        <span class="left">@item.Name</span>
        <span class="right">        @Ajax.ActionLink("Use fit", "UseAnalysedFit"
             , new { fitName = item.Name }, new AjaxOptions { OnSuccess = "OnSuccessUseAnalysedFit", OnFailure = "OnErrorUseAnalysedFit" })</span></h3>

    <div data-esh-name="@item.Name" class="subs-wrapper-main" data-esh-secDesp-name="@item.Name">
        <table>
            <tr class="fila-impar">
                <td>@item.Ship</td>
                <td>x 1</td>
            </tr>
            @{
    ViewBag.prevSlot = 0;
    ViewBag.estilo = "fila-impar";
            }
            @foreach (var hwdItem in item.Items)
            {
                if (hwdItem.Slot != ViewBag.prevSlot)
                {
                    ViewBag.prevSlot = hwdItem.Slot;
                    if (string.Equals(ViewBag.estilo, "fila-par"))
                    {
                        ViewBag.estilo = "fila-impar";
                    }
                    else
                    {
                        ViewBag.estilo = "fila-par";
                    }
                }
                <tr class="@ViewBag.estilo">
                    <td>@hwdItem.Name</td>
                    <td>x @hwdItem.Units</td>
                </tr>
            }
        </table>
    </div>
    
}
