@model EveShopping.Models.EDVImportFits

@{
    ViewBag.Title = "New";
    ViewBag.FullTitle = "EVE-shopping list fits: " + Model.ShoppingListName;
    ViewBag.allowEdit = Model.allowEdit;
}

<div id="list-main">
    <div class="inside-section">
        <h3 class="main-title clearfix"><span>Fits in shopping list </span><span class="right">
            @if (Model.Fittings != null && Model.Fittings.Fittings != null && Model.Fittings.Fittings.Count() > 0)
            {
                <span id="total-price-vol">@EveShopping.Web.VSHMappings.GetNormalizedPrice(EveShopping.Web.Agentes.AgenteShoppingList.CalculateTotalPrice(Model.Fittings.Fittings)) - @string.Format("{0} m3", EveShopping.Web.VSHMappings.GetNormalizedNumber( EveShopping.Web.Agentes.AgenteShoppingList.CalculateTotalVolume(Model.Fittings.Fittings)))</span>
            }
            else
            {
                <span id="total-price-vol"></span>
            }

        </span></h3>    
        @if(Model.allowEdit){
        <p>It is possible to change the units that you want for each fit in your shopping list.</p>
        }
        <div id="@Model.Fittings.DivID" class="subs-wrapper" data-esh-fits-in-list>
            @if (this.Model.Fittings != null && (this.Model.Fittings.Fittings != null) && this.Model.Fittings.Fittings.Count() > 0)
            {
                Html.RenderPartial("PVFitsInShoppingList", this.Model.Fittings);
            }
        </div>
        <div id="links-navegacion-pasos-container">
            @{ ViewBag.ListDoesntHaveOwner = Model.IsShoppingListFree;  }
            @Html.Partial("PVIncludeListInMyLists")
            @Html.ActionLink("Market items >>", "AddMarketItems", new { id = this.ViewBag.PublicID }, new { @class = "buttonYellow" })
        </div>

    </div>
</div>

<input id="fitPublicId" type="hidden" value="@ViewBag.FitPublicId" />


@section scripts{

    @if (Request.IsAuthenticated)
    {
        <script type="text/javascript">
            general.authenticated = true;
        </script>
    }


    @Scripts.Render("~/bundles/fileUpload/bootstrap/Basic/js")
    @Styles.Render("~/bundles/fileupload/bootstrap/BasicPlusUI/css")

    <script src="~/Scripts/eshpFits.js" type="text/javascript">
    </script>
    <script src="~/Scripts/eshImportFits.js" type="text/javascript">
    </script>
    <script src="~/Scripts/eshUploadXML.js" type="text/javascript">
    </script>
    <!-- We use Backloads. bundeling feature to register only those client side javascript and style files of the jQuery File Upload Plugin that are needed  -->

}

@if (Model.allowEdit)
{

    @section izquierda{
        <div id="list-left-menu">
            <div class="inside-section" id="import-fits-accordion">
                @Html.Partial("../Shared/PVImportFits")
                @if (Request.IsAuthenticated)
                {
                    <h3>My personal fittings</h3>
                    <div id="personal-fittings-menu">
                        @Html.Partial("../Fittings/PVPersonalFittingsMenu", Model.MyFittings)
                    </div>

                }
            </div>
        </div>
    }
}

@section subheader{
    @Html.Partial("PVListNavMenu", Model.ListNavMenu)
}

@section ayuda{
@if(Model.allowEdit){
    <div id="help-container" class="notVisible">
        <h3><span>Add fittings to shopping list</span><span class="right">(open for help)</span></h3>
        <div>
            <p>In this step you will be able to add any fit you want to include in the shopping list. For that you need to copy in the clipboard your fitting and paste in the text area contained in the left panel of this screen.</p>
            <p>The format recognised are <strong>EVE XML (recommended format)</strong>, EFT and DNA.</p>
            <p>It is possible to import fits in different ways:</p>
            <p>- Inside Eve: Drag your fit to any eve chat, enter the fit in the chat and copy the message line that includes the link (you need to actually enter the fit in the chat, is not enough to drag it and copy, need to drag and press enter in the chat). This will provide a DNA fit that you can paste in our text area. Don't need to remove user name or anything, eve-shopping will just ignore it. See a video here (add link to video).</p>
            <p>- Export fits from EVE to xml in the EVE Docs folder. You can open the XML file with your favorite editor, copy the content and paste it to our text area. See a video here (add link to video).</p>
            <p>- From your favorite EVE fitting tool, like EFT, Pyfa or EVEHQ. These tools have many ways to export their fits or copy them to clipboard. If you have the chance, export it to the prefered format: XML.</p>
            <p>Once your fit is analysed, you can use it in your shopping list and set the units that you want to buy.</p>
        </div>
    </div>
}
}