@model EveShopping.Models.EDVMyLists

@{
    ViewBag.Title = "MyLists";
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.FullTitle = "EVE-shopping, my lists";

}

<h3 class="main-title clearfix"><span>My shopping lists</span>
</h3>
<p>Select any or your shopping lists and you will able to view, edit or delete it.</p>

<table id="summary-table" data-page-size="15">
    <thead>
        <tr>
            <th>Name</th>
            <th data-sort-ignore="true">Statics</th>
            <th data-hide="phone" class="numericCol" data-hide="phone">Creation</th>
            <th data-hide="phone" class="numericCol" data-hide="phone">Last update</th>
            <th data-hide="phone" data-sort-ignore="true"></th>
            <th data-hide="phone" data-sort-ignore="true"></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in this.Model.Lists)
        {
            <tr>
                <td>@item.name</td>
                <td>@if (item.staticCount == 0){
                    }
                    else{
                        <a data-esh-list-publicid="@item.publicID" class="yellow-link">Show [@item.staticCount]</a>
                    }
                </td>
                <td class="numericCol" data-value="@EveShopping.Web.VSHMappings.GetLongFromDate(item.dateCreation)" >@EveShopping.Web.VSHMappings.GetGridDateFormat( item.dateCreation)</td>
                <td class="numericCol" data-value="@EveShopping.Web.VSHMappings.GetLongFromDate(item.dateUpdate)">@EveShopping.Web.VSHMappings.GetGridDateFormat( item.dateUpdate)</td>
                <td class="numericCol">@Html.ActionLink("Edit", "Summary", "Lists", new { id = item.publicID }, null)</td>
                <td class="numericCol">(delete)</td>
            </tr>
        }
    </tbody>
    @if (Model.Lists.Count() > 15)
    {
        <tfoot>
            <tr>
                <td colspan="5">
                    <div class="pagination pagination-centered"></div>
                </td>
            </tr>
        </tfoot>
    }
</table>

@section scripts{
    <script type="text/javascript" src="~/Scripts/eshMyLists.js"></script>
    <link href="~/content/footable.core.css" rel="stylesheet" type="text/css" />
    <script src="~/scripts/footable/footable.js" type="text/javascript"></script>
    <script src="~/scripts/footable/footable.sort.js" type="text/javascript"></script>
    <script src="~/scripts/footable/footable.paginate.js" type="text/javascript"></script>
    <script src="~/scripts/bootstrap-tab.js" type="text/javascript"></script>

    <script type="text/javascript">
        $(function () {
            $('#summary-table').footable();
            $('.footable').data('page-size', 20);
        });
    </script>

}
