@model EveShopping.Web.Modelo.EVFitting

    <h3 data-esh-name="@Model.Name" data-esh-id="@Model.FittingID">@Model.Name</h3>

    <div class="subs-wrapper-main" data-esh-name="@Model.Name" data-esh-id="@Model.FittingID" data-esh-secDesp-name="@Model.Name">
        <div class="subs-link-bar">
            @Ajax.ActionLink("delete", "DeleteFittingFromShoppingList"
             , new { id = Model.FittingID }, new AjaxOptions { OnSuccess = "OnSuccessDeleteFitFromList" })
            @Ajax.ActionLink("add", "UseAnalysedFit"
             , new { id = Model.FittingID }, new AjaxOptions { OnSuccess = "Add" })
            /
            @Ajax.ActionLink("remove", "UseAnalysedFit"
             , new { id = Model.FittingID }, new AjaxOptions { OnSuccess = "Remove" })
            <input id="@string.Format("input-units-for-{0}", Model.FittingID)" type="text" value="1" />
            units

        </div>
        <table>
            <tr class="fila-impar">
                <td>
                    <img src="@Model.ShipImageUrl32" alt="@Model.Name" /></td>
                <td>@Model.ShipName</td>
                <td>x 1</td>
                <td class="numericCol">@Model.ShipVolume m3</td>
            </tr>
            @{
    ViewBag.prevSlot = 0;
    ViewBag.estilo = "fila-impar";
            }
            @foreach (var hwdItem in Model.FittingHardwares)
            {
                if (hwdItem.Slot != ViewBag.prevSlot)
                {
                    ViewBag.prevSlot = hwdItem.Slot;
                    if (string.Equals(ViewBag.estilo, "fila-par"))
                    {
                        ViewBag.estilo = "fila-impar";
                    }
                    else
                    {
                        ViewBag.estilo = "fila-par";
                    }
                }
                <tr class="@ViewBag.estilo">
                    <td>
                        <img src="@hwdItem.ImageUrl32" alt="@hwdItem.Name" /></td>
                    <td>@hwdItem.Name</td>
                    <td>x @hwdItem.Units</td>
                    <td class="numericCol">@hwdItem.Volume m3</td>
                </tr>
            }
            <tr class="fila-ultima">
                <td></td>
                <td></td>
                <td></td>
                <td class="numericCol">@Model.Volume m3</td>
            </tr>
        </table>
    </div>

