@model EveShopping.Modelo.EV.EVFitting

@if (ViewBag.allowEdit == null) { ViewBag.allowEdit = true; }


<h3 data-esh-name="@Model.Name" data-esh-id="@Model.ItemID" data-esh-units="@Model.Units" class="clearfix accordion-header" data-esh-price="@Model.TotalPrice" data-esh-vol="@Model.Volume">
    <span class="left">
        <img src="@Model.ImageUrl32" alt="@Model.Name" /></span>
    <span class="left leftMargin">@Model.Name</span>
    <span class="right">
        <span>
            <img class="export" data-esh-del-fit-link src="~/Content/images/empty24.png" onclick="exportFit('@Model.ItemID')" />
        </span>
        @if (ViewBag.allowEdit)
        {
            <span>
                <img class="edit" src="~/Content/images/empty24.png" data-esh-edit-link onclick="editFitInShoppingList('@Model.ItemID')" />
            </span>
            <span>
                <img class="delete" data-esh-del-fit-link src="~/Content/images/empty24.png" onclick="delFitInShoppingList('@Model.ItemID')" />
            </span>
        }
    </span>
    <span class="right">x @Model.Units (@EveShopping.Web.VSHMappings.GetNormalizedPrice(Model.TotalPrice) - @Model.Volume m3)</span>

</h3>

<div class="subs-wrapper-main" data-esh-name="@Model.Name" data-esh-id="@Model.ItemID" data-esh-publicID="@Model.PublicID" data-esh-secDesp-name="@Model.Name">
    <table>
        <tr class="fila-impar"  data-esh-inslot="0" data-esh-itemid="@Model.ShipID">
            <td>
                <img src="@Model.ImageUrl32" alt="@Model.Name" /></td>
            <td>@Model.ShipName</td>
            <td>x 1</td>
            <td class="numericCol">@EveShopping.Web.VSHMappings.GetNormalizedPrice(Model.ShipPrice)</td>
            <td class="numericCol">@Model.ShipVolume m3</td>
        </tr>
        @{
            ViewBag.prevSlot = 0;
            ViewBag.estilo = "fila-impar";
        }
        @foreach (var hwdItem in Model.FittingHardwares)
        {
            if (hwdItem.Slot != ViewBag.prevSlot)
            {
                ViewBag.prevSlot = hwdItem.Slot;
            <tr class="fila-par">
                <td>
                    <img src="~/content/images/@EveShopping.Web.VSHMappings.GetImageName(hwdItem.Slot)" alt="" /></td>
                <td colspan="4">@EveShopping.Web.VSHMappings.GetSlotName(hwdItem.Slot)</td>
            </tr>

            }
            <tr class="@ViewBag.estilo" data-esh-itemid="@hwdItem.ItemID" data-esh-inslot="@hwdItem.Slot">
                <td>
                    <img src="@hwdItem.ImageUrl32" alt="@hwdItem.Name" /></td>
                <td>@hwdItem.Name</td>
                <td>x @hwdItem.Units</td>
                <td class="numericCol">@EveShopping.Web.VSHMappings.GetNormalizedPrice(hwdItem.TotalPrice)</td>
                <td class="numericCol">@hwdItem.Volume m3</td>
            </tr>
        }
        <tr class="fila-ultima">
            <td colspan="3">Totals x 1 unit</td>
            <td class="numericCol">@EveShopping.Web.VSHMappings.GetNormalizedPrice(Model.TotalPrice / Model.Units)</td>
            <td class="numericCol">@(Model.Volume / Model.Units) m3</td>
        </tr>
    </table>
    <div>
        <span class="margin-left">@TwitterGoodies.TweetButton(TwitterGoodies.DataCount.None, string.Format("[{0}] {1}: ", @Model.ShipName, @Model.Name), string.Format("http://eve-shopping.com/s/fit/{0}",@Model.PublicID), TwitterGoodies.Languages.English, "", "", "fitting")</span>
    </div>
</div>

