@model EveShopping.Models.EDVFittingsList

@foreach (var item in this.Model.Fittings)
{

    <h3 data-esh-name="@item.Name" data-esh-id="@item.ItemID" data-esh-units="@item.Units" class="clearfix accordion-header" data-esh-price="@item.TotalPrice" data-esh-vol="@item.Volume">
        <span class="left">
            <img src="@item.ImageUrl32" alt="@item.Name" /></span>
        <span class="left leftMargin">@item.Name</span>
        @if (this.Model.ShowEdit)
        {
            <span class="right">
                <a class="yellow-link" data-esh-edit-link onclick="editFitInShoppingList('@item.ItemID')">Edit</a>
            </span>
        }
        @if (this.Model.ShowUse)
        {
            <span class="right">
                <a class="yellow-link" data-esh-edit-link onclick="useFitInMyList('@item.ItemID')">Use</a>
            </span>
        }
        <span class="right">
            @if (this.Model.ShowUnits)
            {

                <span>x @item.Units</span>
            }
            @if (Model.ShowPriceAndVolume)
            {
                <span>(@EveShopping.Web.VSHMappings.GetNormalizedPrice(item.TotalPrice) - @item.Volume m3)</span>
            }

        </span>


    </h3>

    <div class="subs-wrapper-main" data-esh-name="@item.Name" data-esh-id="@item.ItemID" data-esh-secDesp-name="@item.Name">
        <table>
            <tr class="fila-impar">
                <td>
                    <img src="@item.ImageUrl32" alt="@item.Name" /></td>
                <td>@item.ShipName</td>
                <td>x 1</td>
                @if (Model.ShowPriceAndVolume)
                {
                    <td class="numericCol">@EveShopping.Web.VSHMappings.GetNormalizedPrice(item.ShipPrice)</td>
                    <td class="numericCol">@item.ShipVolume m3</td>
                }
            </tr>
            @{
                ViewBag.prevSlot = 0;
                ViewBag.estilo = "fila-impar";
            }
            @foreach (var hwdItem in item.FittingHardwares)
            {
                if (hwdItem.Slot != ViewBag.prevSlot)
                {
                    ViewBag.prevSlot = hwdItem.Slot;
                <tr class="fila-par">
                    <td>
                        <img src="~/content/images/@EveShopping.Web.VSHMappings.GetImageName(hwdItem.Slot)" alt="" /></td>
                    <td colspan="@(Model.ShowPriceAndVolume?4:2)">@EveShopping.Web.VSHMappings.GetSlotName(hwdItem.Slot)</td>
                </tr>

                }
                <tr class="@ViewBag.estilo">
                    <td>
                        <img src="@hwdItem.ImageUrl32" alt="@hwdItem.Name" /></td>
                    <td>@hwdItem.Name</td>
                    <td>x @hwdItem.Units</td>
                    @if (Model.ShowPriceAndVolume)
                    {
                        <td class="numericCol">@EveShopping.Web.VSHMappings.GetNormalizedPrice(hwdItem.TotalPrice)</td>
                        <td class="numericCol">@hwdItem.Volume m3</td>
                    }
                </tr>
            }
            <tr class="fila-ultima">
                <td colspan="@(Model.ShowPriceAndVolume?5:3)">
                    <span>Totals x 1 unit</span>
                    <span class="leftMargin right">@(item.Volume / item.Units) m3</span>
                    <span class="leftMargin right">@EveShopping.Web.VSHMappings.GetNormalizedPrice(item.TotalPrice / item.Units)</span>
                    </td>
            </tr>
        </table>
    </div>

}

