@model EveShopping.Modelo.EntidadesAux.MarketItem

<tr class="fila-impar" data-esh-id="@Model.ItemID" data-esh-units="@Model.Units">
    <td><img src="@Model.URI" alt="@Model.Name" /></td>
    <td>@Model.Name</td>
    <td>x @Model.Units</td>
    <td class="numericCol">@Model.Volume m3</td>
    <td class="numericCol"><a onclick="editItemInShoppingList(@Model.ItemID)">Edit</a></td>
</tr>
