@model EveShopping.Modelo.EntidadesAux.MarketItem

<li data-esh-id="@Model.ItemID">
    <img src="@Model.URI" alt="@Model.Name" />
    <span class="span-name">@Model.Name</span>
    <span class="span-units">@Model.Units</span>
    <span class="span-vol">@Model.Volume</span>
</li>
