@model EveShopping.Modelo.EV.EVListSummary

@if (ViewBag.allowEdit == null) { ViewBag.allowEdit = true; }

<table id="summary-table" data-page-size="15">
    <thead>
        <tr>
            <th data-sort-ignore="true"></th>
            <th>Name</th>
            <th class="numericCol">Initial</th>
            @if (Model.ShowDelta)
            {
                <th class="numericCol" data-hide="phone">( + / - )</th>
                if (ViewBag.allowEdit)
                {
                <th data-hide="phone" data-sort-ignore="true"></th>
                }
            }
            <th class="numericCol">Units</th>
            <th class="numericCol" data-hide="phone">Volume</th>
            <th class="numericCol" data-hide="phone">Price</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in this.Model.Items)
        {
            <tr data-esh-id="@item.ItemID" data-esh-delta="@item.Delta">
                <td>
                    <img src="@item.ImageUrl32" alt="@item.Name" /></td>
                <td>@item.Name</td>
                <td class="numericCol" data-esh-ounits="@item.Units"  data-value="@item.Units">x @EveShopping.Web.VSHMappings.GetNormalizedNumber(item.Units)</td>
                @if (Model.ShowDelta)
                {
                    <td class="numericCol" data-esh-cdelta="@item.Delta" data-value="@item.Delta">@(item.Delta > 0 ? string.Format("+{0}", EveShopping.Web.VSHMappings.GetNormalizedNumber(item.Delta)) : EveShopping.Web.VSHMappings.GetNormalizedNumber(item.Delta).ToString())</td>
                    if (ViewBag.allowEdit)
                    {
                    <td class="numericCol"><a onclick="editItemInSummary(@item.ItemID)">Edit</a></td>
                    }
                }
                <td class="numericCol" data-esh-cunits="@(item.Units - item.Delta) "  data-value="@item.Units">x @EveShopping.Web.VSHMappings.GetNormalizedNumber(item.Units)</td>
                <td class="numericCol" data-esh-cvolume="@item.UnitVolume" data-value="@item.Volume">@EveShopping.Web.VSHMappings.GetNormalizedNumber(item.Volume) m3</td>
                <td class="numericCol" data-value="@decimal.ToDouble(item.UnitPrice)">@EveShopping.Web.VSHMappings.GetNormalizedPrice(item.UnitPrice)</td>
            </tr>
        }
    </tbody>
    @if (Model.Items.Count() > 15)
    {
        <tfoot>
            <tr>
                <td colspan="@Model.ColCount">
                    <div class="pagination pagination-centered"></div>
                </td>
            </tr>
        </tfoot>
    }
</table>

