@model IEnumerable<EveShopping.Web.Modelo.EVMarketItem>

<div id="searchResult" class="clearfix menu-market">
    <table id="search-result-table">
        <tbody>
        @foreach (var item in Model)
        {
            <tr>
                @if (item.EsFinal)
                {
                    <td onclick="addItemToShoppingList(@item.ItemID)">
                        @if (!string.IsNullOrEmpty(item.UrlIcon))
                        {<span class="icono"><img src="@item.UrlIcon" alt="@item.Name" />
                            </span>}
                        <span class="nombre" data-esh-id="@item.ItemID">@item.Name</span>
                    </td>
                }
                else
                {
                    <td onclick="navigateMarketGroup(@item.ItemID)">
                        @if (!string.IsNullOrEmpty(item.UrlIcon))
                        {<span class="icono"><img src="@item.UrlIcon" alt="@item.Name" />
                            </span>}
                        <span class="nombre" data-esh-id="@item.ItemID">@item.Name</span>
                    </td>
                }
            </tr>
        }
            </tbody>
        @if(this.Model.Count() > 10)
        {
        <tfoot>
            <tr>
                <td colspan ="2">
                    <div class="pagination pagination-centered"></div>
                </td>
            </tr>
        </tfoot>            
        }

    </table>
</div>
