@model EveShopping.Modelo.EV.EVListSummary

@if (ViewBag.allowEdit == null) { ViewBag.allowEdit = true; }

<table id="summary-table" data-page-size="15">
    <thead>
        <tr>
            <th data-sort-ignore="true"></th>
            <th>Name</th>
            <th class="numericCol" data-hide="phone">Volume</th>
            <th class="numericCol" data-hide="phone">Total price</th>
            <th class="numericCol" data-hide="phone">Unit price</th>
            <th class="numericCol">Units</th>
            @if (EveShopping.Web.EstadoUsuario.IsIGB())
            {
                <th data-esh-shopping data-hide="phone" class="numericCol">Bought</th>
            }
            <th data-hide="phone" data-sort-ignore="true"></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in this.Model.Items)
        {
            <tr data-esh-id="@item.ItemID" data-esh-delta="@item.Delta">
                <td>
                    <img src="@item.ImageUrl32" alt="@item.Name" />
                </td>
                <td>@item.Name</td>
                <td class="numericCol" data-esh-cvolume="@item.UnitVolume" data-value="@item.Volume">@EveShopping.Web.VSHMappings.GetNormalizedNumber(item.Volume) m3</td>
                <td class="numericCol" data-esh-cprice="@decimal.ToDouble(item.UnitPrice)" data-value="@decimal.ToDouble(item.TotalPrice)">@EveShopping.Web.VSHMappings.GetNormalizedPrice(item.TotalPrice)</td>
                <td class="numericCol" data-value="@decimal.ToDouble(item.UnitPrice)">@EveShopping.Web.VSHMappings.GetNormalizedPrice(item.UnitPrice)</td>
                <td class="numericCol" data-esh-cunits="@(item.Units - item.Delta) " data-value="@item.Units">x @EveShopping.Web.VSHMappings.GetNormalizedNumber(item.Units)</td>
                @if (EveShopping.Web.EstadoUsuario.IsIGB())
                {
                    <td class="numericCol" data-esh-shopping data-value="0">
                        <input data-esh-boughtchk type="checkbox" value="false" />
                    </td>
                }
                <td class="numericCol"><a onclick="openMarketDatailsWindow(@item.ItemID)">Market</a></td>
            </tr>
        }
    </tbody>
    <tfoot>
        <tr esh-data-pager>
            <td>
                <a onclick="exportList()">Export</a>
            </td>
            @if (Model.Items.Count() > 15)
            {
                <td colspan="@Model.ColCount">
                    <div class="pagination pagination-centered"></div>
                </td>
            }
        </tr>
    </tfoot>

</table>
