@model EveShopping.Models.EDVSummary

@{
    ViewBag.Title = "Summary";
    ViewBag.FullTitle = "EVE-shopping, list summary:  " + Model.Summary.Name;
}
<div id="description-container" class="inside-section notVisible">
    <h3 class="ui-accordion-header"><span>@Model.Summary.Name</span></h3>
    <div class="ui-accordion-content">
        @using (Html.BeginForm("SaveShoppingListHeader", "Lists", FormMethod.Post))
        {
            <fieldset>
                <legend>Name</legend>
                <input type="text" name="slName" placeholder="Shopping list's name" required maxlength="100" />
            </fieldset>
            <fieldset>
                <legend>Description</legend>
                <textarea name="slDescription" rows="5" placeholder="Description for new shopping list" maxlength="3000"></textarea>
            </fieldset>
            <button type="submit" class="buttonYellow" value="Save">Save</button>
        }
    </div>
</div>

<h3 class="main-title clearfix"><span>Summary</span>
    <span class="right">
        @if (Model.Summary.Items.Count() > 0)
        {
            <span id="total-price-vol">@EveShopping.Web.VSHMappings.GetNormalizedPrice(EveShopping.Web.Agentes.AgenteShoppingList.CalculateTotalPrice(this.Model.Summary.Items)) - @EveShopping.Web.Agentes.AgenteShoppingList.CalculateTotalVolume(this.Model.Summary.Items) m3</span>
        }

    </span>
</h3>
<div id="itemsInSummary" class="subs-wrapper">
    @Html.Partial("PVSummaryItems", Model.Summary)
</div>

<div class="clearfix">
    <article class="full">
        <section>
            <p>Next link is readonly link, you can provide it to anybody that you find convenient:</p>
            <a class="yellow-link" href="http://www.findeldia.com/lists/@Model.Summary.ReadOnlyPublicID">Readonly link for sharing</a>
            <p>You can edit the shopping list anytime, just access next link. Take care if you give it to anybody, he will be able to modify your list:</p>
            <a class="yellow-link" href="http://www.findeldia.com/lists/@Model.Summary.PublicID">Link for shopping list edition</a>
        </section>
    </article>
</div>

<div id="full-main">


    <div id="links-navegacion-pasos-container">
        @Html.ActionLink("<< Add market items", "AddMarketItems", new { id = this.ViewBag.PublicID }, new { @class = "buttonYellow" })
    </div>

</div>

@section subheader{
    <div id="subheader-container" class="wrapper clearfix">
        <ul id="menu-pasos">
            <li>@Html.ActionLink("Add ship fittings", "ImportFits", "Lists", new { id = this.ViewBag.PublicID }, null)</li>
            <li>@Html.ActionLink("Add market items", "AddMarketItems", "Lists", new { id = this.ViewBag.PublicID }, null)</li>
            <li class="selected">@Html.ActionLink("Summary", "Summary", "Lists", new { id = this.ViewBag.PublicID }, null)</li>
        </ul>
    </div>

}

@section ayuda{
    <div id="help-container" class="notVisible">
        <h3 ><span>@Model.Summary.Name</span><span class="right">(open to edit name and description)</spa></h3>
        <div>
            @using (Html.BeginForm("SaveShoppingListHeader", "Lists", FormMethod.Post))
            {
                <fieldset>
                    <legend>Name</legend>
                    <input type="text" name="slName" placeholder="Shopping list's name" required maxlength="100" value="@Model.Summary.Name" />
                </fieldset>
                <fieldset>
                    <legend>Description</legend>
                    <textarea name="slDescription" rows="5" placeholder="Description for new shopping list" maxlength="3000" aria-valuetext="@Model.Summary.Description"></textarea>
                </fieldset>
                <button type="submit" class="buttonYellow" value="Save">Save</button>
            }
        </div>
    </div>

}


@section scriptsHead{

}

@section scripts{
    <script type="text/javascript" src="~/Scripts/eshSummary.js"></script>

    <script src="~/scripts/footable/footable.js" type="text/javascript"></script>
    <script src="~/scripts/footable/footable.sort.js" type="text/javascript"></script>
    <script src="~/scripts/footable/footable.paginate.js" type="text/javascript"></script>
    <script src="~/scripts/bootstrap-tab.js" type="text/javascript"></script>
}
