@model EveShopping.Models.EDVSummary

@{
    ViewBag.Title = "Summary";
    ViewBag.FullTitle = "EVE-shopping, list summary:  " + Model.Summary.Name;
}

<h3 class="main-title clearfix"><span>Summary</span>
    <span class="right">
                    @if (Model.Summary.Items.Count() > 0)
            {
                <span id="total-price-vol">@EveShopping.Web.VSHMappings.GetNormalizedPrice(EveShopping.Web.Agentes.AgenteShoppingList.CalculateTotalPrice(this.Model.Summary.Items)) - @EveShopping.Web.Agentes.AgenteShoppingList.CalculateTotalVolume(this.Model.Summary.Items) m3</span>
            }

    </span>
</h3>

<div id="full-main">
    <div id="grid_parts"></div>
            <div id="links-navegacion-pasos-container">
            @Html.ActionLink("<< Add market items", "AddMarketItems", new { id = this.ViewBag.PublicID }, new { @class="buttonYellow" })
        </div>

</div>


@section subheader{
     <div id="subheader-container" class="wrapper clearfix">
        <ul id="menu-pasos">
            <li>@Html.ActionLink("Add ship fittings", "ImportFits", "Lists", new { id = this.ViewBag.PublicID }, null)</li>
            <li>@Html.ActionLink("Add market items", "AddMarketItems", "Lists", new { id = this.ViewBag.PublicID }, null)</li>
            <li class="selected">@Html.ActionLink("Summary", "Summary", "Lists", new { id = this.ViewBag.PublicID }, null)</li>
        </ul>
    </div>

}


@section scriptsHead{
    <link rel="stylesheet" href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.9.2/themes/base/jquery-ui.css" />
    <link rel="stylesheet" href="~/Scripts/grid/pqgrid.min.css" />

}

@section scripts{

        <script type="text/javascript">
            var summary_data = '@Html.Raw(EveShopping.Web.Modelo.ConvertToJavaScriptArray.Convert(this.Model.Summary.Items))';
       </script>


    @Scripts.Render("~/bundles/jqueryui")
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.9.2/jquery-ui.min.js"></script>
    <script src="~/Scripts/eshSummary.js" type="text/javascript">
    </script>
    <script type="text/javascript" src="~/Scripts/grid/pqgrid.min.js"></script>

    <script type="text/javascript" src="~/Scripts/eshSummary.js"></script>
}
