﻿<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js">
<!--<![endif]-->
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>@ViewBag.FullTitle</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width">
    <link rel="shortcut icon" href="~/favicon.ico" type="image/x-icon" />
    <link rel="icon" href="~/favicon.ico" type="image/x-icon" />

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jqueryui")
    @Scripts.Render("~/bundles/modernizr")

    <script src="~/Scripts/jquery.simplemodal.1.4.4.min.js"></script>

    <script src="~/Scripts/jquery.blockUI.js"></script>

    @Scripts.Render("~/bundles/jqueryval")
    <script src="~/Scripts/eshCommon.js" type="text/javascript">
    </script>
    <script type="text/javascript" src="~/scripts/responsive-nav.min.js"></script>

    @RenderSection("scriptsHead", required: false)
    @*    <link href="~/content/jquery-ui-custom.css" rel="stylesheet" type="text/css" />*@
    <link href="~/content/responsive-nav.css" rel="stylesheet" type="text/css" />
    @Styles.Render("~/Content/css")
    <link rel="stylesheet" type="text/css" href="~/content/zocial/zocial.css" />

</head>
<body>
<div id="fb-root"></div>
<script>(function (d, s, id) {
    var js, fjs = d.getElementsByTagName(s)[0];
    if (d.getElementById(id)) return;
    js = d.createElement(s); js.id = id;
    js.src = "//connect.facebook.net/es_ES/all.js#xfbml=1&appId=343050129164564";
    fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>
        <div class="header-container">
        <header class="wrapper clearfix">
            <h1 class="title">
                <img src="~/Content/images/eveLogo.png" />
                shopping
            </h1>
            <div class="nav-header">
            <div class="left">
                <div class="clearfix social-header">
<div class="left fb-like"  data-href="http://www.eve-shopping.com" data-colorscheme="dark" data-height="50px" data-width="100px" data-layout="button_count" data-action="like" data-show-faces="false" data-send="false"></div>
<a href="https://twitter.com/eveshopping" class="twitter-follow-button leftMargin left" data-show-count="false" data-show-screen-name="false">Follow @@eveshopping</a>
                    </div>
                    <div class="header-subtitle">
                        <span>A shopping lists tool for EVE Online.</span>

                    </div>
            </div>
                <div>
                @Html.Partial("_LoginPartial")

                </div>
                </div>
        </header>
    </div>
    <div class="nav-container">
        <ul class="nav-collapse">
            <li>@Html.ActionLink("Home", "Index", "Home", null, new { id = "navlink_home" })</li>
            <li>@Html.ActionLink("New list", "New", "Lists", null, new { id = "navlink_newList" })</li>
            @if (Request.IsAuthenticated)
            {
                <li><a href="~/Fittings/MyFittings">My fittings[<span id="fittingCount">@ViewBag.FittingCount</span>]</a></li>
                <li><a href="~/Lists/MyLists">My lists[<span id="listCount">@ViewBag.ListCount</span>]</a></li>
                <li>
                    @Html.ActionLink("My account", "Manage", "Account", routeValues: null, htmlAttributes: new { })
                </li>
            }
            <li>@Html.ActionLink("Videos", "Videos", "Home", null, null)</li>
            <li>@Html.ActionLink("About", "About", "Home", null, null)</li>
        </ul>
    </div>
@*    <div class="nav-container">
        <p style="color: rgb(245, 72, 39); font-size:large">Be aware: We are updating eve-shopping. Estimated time to complete is 16:00 eve time. You can use it, but some inestability may be experieced until this time.</p>
    </div>*@

    <div class="main-container">
        @RenderSection("subheader", required: false)
        <div class="main wrapper clearfix">
            @RenderSection("ayuda", required: false)
            @RenderSection("izquierda", required: false)
            @RenderBody()
            @RenderSection("derecha", required: false)

        </div>
        <!-- #main -->
    </div>
    <script src="~/Scripts/jquery.validate.unobtrusive.js"></script>
    <!-- #main-container -->



    <div class="footer-container">
        <footer class="wrapper">
            <p>EVE-shopping <span><a class="yellow-link" href="../changes/v/1-1-0">Version 1.1.0</a></span>. If you like EVE-shopping and would like to help, you can donate some ISK to <a class="yellow-link" onclick="openEoghanInfo();">Eoghan Gorthaur</a>. If you have any suggestion or found any issue you can add it to our feedback site or mail to <a class="yellow-link" href="mailto:info@eve-shopping.com">info@eve-shopping.com</a>. Thanks !!!</p>
            Material related to EVE-Online is used with limited permission of CCP Games hf. No official affiliation or endorsement by CCP Games hf is stated or implied.
        </footer>
    </div>

    <div id="loading-image" class="modal">
        <div><span>hola</span></div>
    </div>

    @RenderSection("scripts", required: false)

    @*    <div id="info-dialog-message" title="Market not available in this browser" style="display: none;">
        <p>
            <span class="ui-icon ui-icon-circle-check" style="float: left; margin: 0 7px 50px 0;"></span>
            <span id="info-dialog-main-msg">You can access market details for the items only from EVE Online browser.</span>
        </p>
        <p id="info-dialog-second-msg">
            Clicking in this link from in game browser will open market details window.
        </p>
    </div>*@
    <!-- confirm dialog -->
    <div id='content'>
        <div id='confirm-dialog'>
        </div>

        <!-- modal content -->
        <div id='confirm'>
            <div class='header'><span>Confirm</span></div>
            <div class='message'></div>
            <div class='buttons'>
                @*				<div class='no simplemodal-close'>No</div><div class='yes'>Yes</div>*@
                <a class="no simplemodal-close buttonYellow right">No</a>
                <a class="yes buttonYellow right">Yes</a>
            </div>
        </div>
    </div>


    <!-- modal content -->
    <div id="basic-modal-content">
        <h3 id="info-dialog-header">Basic Modal Dialog</h3>
        @*        <p>
            <span class="ui-icon ui-icon-circle-check" style="float: left; margin: 0 7px 50px 0;"></span>
            <span id="info-dialog-main-msg"></span>
        </p>*@
        <p id="info-dialog-second-msg"></p>
    </div>


    <script>
        var _gaq = [['_setAccount', 'UA-XXXXX-X'], ['_trackPageview']];
        (function (d, t) {
            var g = d.createElement(t), s = d.getElementsByTagName(t)[0];
            g.src = '//www.google-analytics.com/ga.js';
            s.parentNode.insertBefore(g, s)
        }(document, 'script'));

        responsiveNav(".nav-collapse");


    </script>
    <script>!function (d, s, id) { var js, fjs = d.getElementsByTagName(s)[0], p = /^http:/.test(d.location) ? 'http' : 'https'; if (!d.getElementById(id)) { js = d.createElement(s); js.id = id; js.src = p + '://platform.twitter.com/widgets.js'; fjs.parentNode.insertBefore(js, fjs); } }(document, 'script', 'twitter-wjs');</script>

    <script>
        (function (i, s, o, g, r, a, m) {
            i['GoogleAnalyticsObject'] = r; i[r] = i[r] || function () {
                (i[r].q = i[r].q || []).push(arguments)
            }, i[r].l = 1 * new Date(); a = s.createElement(o),
            m = s.getElementsByTagName(o)[0]; a.async = 1; a.src = g; m.parentNode.insertBefore(a, m)
        })(window, document, 'script', '//www.google-analytics.com/analytics.js', 'ga');

        ga('create', 'UA-45392558-1', 'eve-shopping.com');
        ga('send', 'pageview');
    </script>
</body>
</html>
